ANTHROPIC_API_KEY=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
RESEND_API_KEY=re_Y8tZSQ5D_46FWizaqoq43no8JAkXE8k2T
CONTACT_EMAIL=connect@technoexcel.in
NEXT_PUBLIC_SITE_URL=https://technoexcel.in
